{
    "deck": {
        "port": "8088",
        "item_per_page": "50"
    },

    "pelican": {
        "topic_entrance": "https://weibo.cn/search/mblog?keyword=%s",
        "topic_page_suffix": "&page=%d",

        "follower_entrace": "https://weibo.cn/%s/fans?page=%s",
        "follower_link": "https://weibo.cn/u/%s",

        "token": [
            {
                "YourHeaderRequestString":"GoesHere"
            }
        ]
    },

    "basket": {
        "path": "sqlite:////Users/zack/Projects/Fisherman/fisherman/basket/fishes.sqlite3",
        "file_path": "/Users/zack/Projects/Fisherman/fisherman/basket/fishes.sqlite3"
    },

    "pipeline": {
        "entrance": "https://weibo.cn/im/chat?uid=%s&rl=0",
        "rq_dashboard_port": "9181"
    },

    "helper": {
        "topic_character": "100808topic"
    },

    "log": {
        "file_path": "/Users/zack/Projects/Fisherman/workers.log",
        "lines": "100"
    }
}
