Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.0.2
SQLAlchemy==1.0.8
Werkzeug==0.10.4
altgraph==0.10.2
arrow==0.7.0
bdist-mpkg==0.5.0
beautifulsoup4==4.4.1
binaryornot==0.4.0
bonjour-py==0.3
bottle==0.12.8
chardet==2.3.0
click==5.1
configobj==5.0.6
cookiecutter==1.1.0
eg==0.0.2
future==0.15.2
itsdangerous==0.24
macholib==1.5.1
markdown2==2.3.0
matplotlib==1.3.1
modulegraph==0.10.4
numpy==1.8.0rc1
pathlib==1.0.1
prompt-toolkit==0.45
psutil==2.2.1
psycopg2==2.6.1
py2app==0.7.3
pyOpenSSL==0.13.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyparsing==2.0.1
python-dateutil==1.5
pythonpy==0.3.6
pytz==2013.7
redis==2.10.3
requests==2.7.0
rq==0.5.6
rq-dashboard==0.3.4
scipy==0.13.0b1
simplejson==3.8.1
six==1.4.1
sqlparse==0.1.14
thefuck==1.12
times==0.7
vboxapi==1.0
virtualenv==1.11.6
wcwidth==0.1.4
whichcraft==0.1.1
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
