#main {
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
}

#sidebar {
    background: white;
}

#content {
    margin-top: 60px; 
}

.container {
    max-width: 100%;
}

.pagination {
    margin: 0;
}

.pagination-number {
    line-height: 34px;
    float: left;
    margin-left: 10px;
}

hr {
    margin: 10px 0;
}

#menu li strong {
    display: block;
    margin: 10px 0;
}

#menu li ul {
    padding-left: 20px;
}

.auto-overflow {
    overflow: auto;
}

.im {
    display: none;
}

.im.show {
    display: inline-block !important;
}

.table tr th,
.table tr td {
    white-space: nowrap;
}

.table tr th:last-child,
.table tr td:last-child {
    text-align: right;
}

.table tr th.wrap,
.table tr td.wrap {
    white-space: normal;
    text-align: left;
}
