#main {
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
}

#sidebar {
    background: white;
}

#content {
    margin-top: 60px; 
}

.container {
    max-width: 100%;
}

.pagination {
    margin: 0;
}

.pagination-number {
    line-height: 34px;
    float: left;
    margin-left: 10px;
}
